<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Job Application Tracker</title>

    <!-- Bootstrap CSS -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <main class="container py-5">

        <!-- Page heading -->
        <header class="text-center py-3">
            <h1 class="display-4 fw-bold">Job Application Tracker</h1>
            <p class="text-body-secondary lead text-muted">
                Track your job applications in one place.
            </p>
        </header>

        <!-- Application Form -->
        <section>
            <h2>Add New Application</h2>
            <form action="/" method="post" class="mb-3 p-4 border rounded">
            <div class="mb-3">
                <label for="company" class="form-label">Company:</label>
                <input type="text" id="company" name="company" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="position" class="form-label">Position:</label>
                <input type="text" id="position" name="position" class="form-control" required>
            </div>
            

            <select id="status" name="status" class="form-control">
                <option value="interested">Interested</option>
                <option value="applied">Applied</option>
                <option value="interviewing">Interviewing</option>
                <option value="offered">Offered</option>
                <option value="rejected">Rejected</option>
            </select>
            <div class="mb-3">
                <label for="date_applied" class="form-label">Date Applied:</label>
                <input type="date" id="date_applied" name="date_applied" class="form-control">
            </div>

            <label for="job_link" class="form-label">Job Link:</label>
            <input
                type="url"
                id="job_link"
                name="job_link"
                class="form-control"
                placeholder="https://example.com/job-posting">
            <div id="app_submit_button">
                <button type="submit" class="btn btn-primary">Add Application</button>
            </form>
            </div>
            
        </section>
    
        <!-- Application Totals -->
        <section class="mt-4 border rounded p-3">
            <h2>Application Totals</h2>
            <ul class="app_total_list">
                {% for item in status_counts %}
                    <li>{{ item[0] }}: {{ item[1] }}</li>
                {% endfor %}
            </ul>
        </section>

        <!-- Applications -->
        <section class="mt-4 border rounded p-3">
            <h2>Applications</h2>
            <ol>
                {% for app in applications %}
                    <li id="delete_button">
                        {{ app[1] }} - {{ app[2] }}
                        {% if app[4]%}
                           | Date Applied: {{app[4]}}
                        {% endif %}
                         | {{ app[3] }}
                        {% if app[5] %}
                            | Job Link:<a href="{{ app[5] }}" target="_blank">View Job</a>
                        {% endif %}

                        <form action="/delete" method="post">
                            <button class="btn btn-danger btn-sm"
                                type="submit"
                                name="delete_app"
                                value="{{ app[0] }}">
                                Delete
                            </button>
                        </form>
                    </li>
                {% endfor %}
            </ol>
        </section>

        <!-- Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </main>
</body>

</html>

